<kg-content-header>
	<!-- insert header content here -->
	<ng-container toolbarContent>
		<kg-breadcrumb></kg-breadcrumb>
	</ng-container>

	<ng-container utilities>
		[page-level utilities here]
	</ng-container>
</kg-content-header>

<kg-content-main class="mat-typography">
	<!-- insert content here -->

	<mat-horizontal-stepper [linear]="true" class="mat-stepper-nopadding">
		<mat-step [stepControl]="nameFormGroup">
			<ng-template matStepLabel>Step 1</ng-template>
			<form #nameFormGroup="ngForm">
				<div class="row">
					<div class="col-sm-12">
						<mat-form-field>
							<input matInput id="txtTestTitle" placeholder="Title"
								   maxlength="400" [(ngModel)]="Title" name="TestTitle" #testTitle="ngModel" required>
						</mat-form-field>
					</div>
					<div class="col-sm-12">
						<mat-form-field>
							<mat-select required placeholder="Country" [(ngModel)]="Country" #testCountry="ngModel" name="TestCountry">
								<mat-option *ngFor="let data of countries" [value]="data.value">
									{{ data.viewValue }}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>

				<div class="pageContent">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<button mat-button matStepperPrevious>Back</button>
								<button mat-button matStepperNext>Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</mat-step>

		<mat-step [stepControl]="emailFormGroup">
			<ng-template matStepLabel>Step 2</ng-template>
			<form #emailFormGroup="ngForm">
				<div class="row">
					<div class="col-sm-12">
						<mat-form-field>
							<input matInput placeholder="Enter Your Email" name="TestEmail" #testEmail="ngModel" [(ngModel)]="Email" required>
						</mat-form-field>
					</div>
				</div>

				<div class="pageContent">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<button mat-button matStepperPrevious>Back</button>
								<button mat-button matStepperNext>Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</mat-step>

		<mat-step>
			<form>
				<ng-template matStepLabel>Step 3</ng-template>
				Everything seems correct.
				<div>
					<button mat-button>Done</button>
				</div>
			</form>
		</mat-step>

	</mat-horizontal-stepper>


</kg-content-main>

<kg-content-footer>
	<!-- insert footer content here -->
	[page footer content here]
</kg-content-footer>

