<kg-content-header>
	<!-- insert header content here -->
	<ng-container toolbarContent>
		<kg-breadcrumb></kg-breadcrumb>
	</ng-container>

	<ng-container utilities>
		[page-level utilities here]
	</ng-container>
</kg-content-header>

<kg-content-main>
	<!-- insert content here -->

	<h1>Welcome to the UI SDK Quick Start Application</h1>

	<p>The UI SDK Quickstart Application is a part of the UI SDK and is intended to be used as a baseline, plain-vanilla application for getting started with new apps from scratch quickly and easily.</p>
</kg-content-main>

<kg-content-footer>
	<!-- insert footer content here -->
	[page footer content here]
</kg-content-footer>

